fastapi
uvicorn
moviepy
librosa
whisper
aiofiles
numpy
requests
loguru
moviepy==1.0.3
librosa==0.10.0.post2
whisper==1.0
requests==2.31.0
uvicorn==0.22.0
fastapi==0.100.0
aiofiles==23.1.0
setuptools==69.5.1
